body {
    background-color: black;
    color: #EFEFD0;
    font-size: 50px;
    font-family: "Schibsted Grotesk", sans-serif;

}

h1 {
    font-size: 9em;
    font-family: jua;
}

h2 {
    font-size: 1em;
    font-family: "Schibsted Grotesk", sans-serif;
}

.title_sketch_container {
    position: absolute;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9em;
}

.title_sketch_container h2 {
    font-family: "reenie-beanie", sans-serif;
    color: #FF6B35;
    z-index: 2002;
}

.main_title {
    position: absolute;
    display: flex;
    width: 100%;
    height: 900px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 400px;
}



.nav {
    color: #FF6B35;
    display: absolute;
    width: 60%;
    height: 300px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 20%;
    
}

.intro {
    color: black;
    background-color: #FF6B35;
    height: 800px;
    margin-top: 1100px;
    padding-left: 120px;
    padding-top: 20px;
    padding-right: 120px;
    
    
}

.intro h2 {
    font-size: 2em;
    color: #EFEFD0;
    line-height: 20px;
}

.catalogue {
    padding-left: 120px;
    padding-top: 120px;
    height: 1200px;
}

.paragraph {
    width: 40%;
}

.catalogue h2 {
    font-size: 2em;
}

.image_container {
    position: absolute;
    height: 400px;
    width: 700px;
    top: 1500px;
    left: 380px;
}

